@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.container {
    padding: 2px;
}

.heading-conf {
    color: #183b56;
    font-family: 'Roboto';
    padding: 15px;
    margin: 5px;
    font-size: 19px;
    text-align: center;
    font-weight: bold;
}

.para-conf {
    color: #5a7184;
    font-family: 'Roboto';
    padding: 10px;
    margin: 5px;
    font-size: 15px;
}

.button {
    padding: 16px;
    margin: 25vh;

}